{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block carousel %}
{% endblock %}
{% block body %}
    <!-- Three columns of text below the carousel -->
    <h2>Nos meilleurs ventes</h2>
    <p>Decouvrez les articles les plus vendus </p>
    <div class="row">

       {% for product in products %}
        <div class="col-md-3">
    {% include 'product/single.html.twig' %}
        </div>
       {% endfor %}

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Une equipe de professionnelle .<span class="text-muted">Au grand savoir faire.</span></h2>
            <p class="lead">Nous vendons des tee shirts, manteaux, robes et bonnets.
                Nos produits sont de très bonne qualité,
                nous utilisons uniquement du coton bio.</p>
        </div>
        <div class="col-md-5">
            <div class="img">
                <a href="{{ path('products') }}"><img src="{{ asset('assets/img/first.jpg') }}"  class="img-fluid" alt="un savoir faire"></a>

            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Venez à nos rencontre dans nos differents. <span class="text-muted">Boutique en france.</span></h2>
            <p class="lead"> La boutique française de geoffroy est un lieu d’expérience où nous vous accueillons pour voir et essayer  nos produits 100% naturels </p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="img">
                <a href="{{ path('products') }}"><img src="{{ asset('assets/img/second.jpg') }}"  class="img-fluid" alt="une boutique ouverte toute l'année"></a>

            </div>
        </div>
    </div>

    
    <!-- /END THE FEATURETTES -->

{% endblock %}
