{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block body %}
<h1>Formulaire</h1>
{% if notification %}
    <div class="alert alert-info">
{{ notification }}
    </div>
    {% endif %}
    {{ form(form) }}

{% endblock %}
