{% extends 'base.html.twig' %}

{% block title %}Passe une commande!{% endblock %}

{% block body %}
<h1>Passe mes commandes</h1>
    <p> choisisez vos references avant de passer vos commandes sur la boutique française</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
           <b>Choisir mon adresse de livraison</b><br>
            <b>Choisir mon transporteur </b>
        </div>
        <div class="col-md-6">
           <b>Recap de ma commande</b><br>
            <b>Bouton pour payer</b>
        </div>

    </div>


{% endblock %}
